 <p>1650 GDDR6 (2020 Version), 256 GB SSD, 1 TB HDD.

    Price: Bought it for 65k
    
    Build: Really like the bluish gun metal back panel. Sturdy plastic body. Solid RGB Keyboard. No complaint whatsoever.
    
    Display: It has weak colour accuracy on paper. But it looks pretty good, great viewing angles, 144 hz adaptive sync makes the experience really smooth. Especially while playing games like CS GO, Valorant etc. I can't really notice the 20 ms screen response time, and I am sure most of you won't unless you are a pro currently using a 240 hz 1 ms monitor. But yeah the colours don't pop, but at this price point, it's a bargain for sure.
    
    Performance: Performance is as expected. Easy 60 plus fps on Shadow of the tomb raider on ultra. 200 plus fps in cs go, Valorant on low to medium settings. But, 1650 will get outdated pretty soon.
    
    Thermals: Temperatures stay in low 80's even while long gaming sessions, but I am mostly playing CS GO, Valorant. But even during Shadow of the tomb raider, it didn't touch 90. I do play in a really well ventilated room, always on a table. But, low temperatures could be because I have a lower specs model.
    
    Overall: The screen could have been better for sure, but I am planning on buying one of those 240 hz 1 ms monitors. Overall, I think it's a pretty good bang for the buck.
    
    Edit: Just wanted to add the speakers were suprisingly good, clean and loud. The fan noise can also get really loud under heavy loads. It feels my laptop is about to take off. Screen is just sub-par for sure, a compromise for the price point I guess.
    
    Edit 2- TL;DR The game doesn't lag whatsoever, even though the CPU temps touch 90 C occassionally. Performance in games is still top notch. There are only 2 main issues/compromises I had to make for the price-
    
    The cooling system is not the best, but for a low TDP chip like R5 4600H, it just gets the job done. Cooling system definitely could have been better tho. I wouldn't recommend higher end models of this particular laptop.
    
    The display quality is sub-par. It's very smooth cause of high refresh rate, it feels good to use. But the colours don't pop, definitely a downside.</p>