




<!-- new nav menu -->
<section class="container-fluid mt-4">

    <div class="desktop-header">
        
<div class="container-fluid ">

    <div class="row nav-row">

        <div class="col-md-2 logo-box">
            <a class="navbar-brand logo" href="#"><img src="images/bb-logo-07 1.png"></a>
        </div>

        <div class="col-md-5 box nav-box">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="navbar-collapse collapse show" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Builders</a>
                            <div class="dropdown-menu p-3 shadow">
                                <div class="row tab-row">
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Popular Choices</h6>
                                        <a class="dropdown-item" href="#">Ready to Move</a>
                                        <a class="dropdown-item" href="#">Owner Properties</a>
                                        <a class="dropdown-item" href="#">Budget Homes</a>
                                        <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Property Types</h6>
                                        <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                        <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                        <a class="dropdown-item" href="#">Villa in Kharar</a>
                                        <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Budget</h6>
                                        <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                        <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                        <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                        <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Explore</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="menu-title">Buying Tools</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Projects</a>
                            <div class="dropdown-menu p-3 shadow">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Popular Choices</h6>
                                        <a class="dropdown-item" href="#">Ready to Move</a>
                                        <a class="dropdown-item" href="#">Owner Properties</a>
                                        <a class="dropdown-item" href="#">Budget Homes</a>
                                        <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Property Types</h6>
                                        <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                        <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                        <a class="dropdown-item" href="#">Villa in Kharar</a>
                                        <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Budget</h6>
                                        <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                        <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                        <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                        <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Explore</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="menu-title">Buying Tools</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Properties</a>
                            <div class="dropdown-menu p-3 shadow">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Popular Choices</h6>
                                        <a class="dropdown-item" href="#">Ready to Move</a>
                                        <a class="dropdown-item" href="#">Owner Properties</a>
                                        <a class="dropdown-item" href="#">Budget Homes</a>
                                        <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Property Types</h6>
                                        <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                        <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                        <a class="dropdown-item" href="#">Villa in Kharar</a>
                                        <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Budget</h6>
                                        <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                        <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                        <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                        <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Explore</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="menu-title">Buying Tools</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Investment</a>
                        </li>
                    </ul>
                </div>
            
        </nav>


<div class="col-md-3 cnt-sec">
    <div class="contact-box">
        <div class="contact-item">
            <img class="top-icon" src="images/phone.png">
            <span><a href="tel:+91-9479927xxx">+91-9479927xxx</a></span>
        </div>
        <div class="contact-item">
            <img class="top-icon gmail" src="images/gmail.png">
            <span><a href="mailto:info@bigbrother.in">infobigbrother.in</a></span>
        </div>
    </div>
</div>


<div class="col-md-2 prop-btn">
    <button class="btn top-btn" type="submit">Post property <span
            class="red-btn">Free</span></button>

</div>
</div>
</div>

</div>


<div class="tab-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#"><img src="images/bb-logo-07 1.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Builders</a>
                        <div class="dropdown-menu p-3 shadow">
                            <div class="row tab-row">
                                <div class="col-md-3">
                                    <h6 class="menu-title">Popular Choices</h6>
                                    <a class="dropdown-item" href="#">Ready to Move</a>
                                    <a class="dropdown-item" href="#">Owner Properties</a>
                                    <a class="dropdown-item" href="#">Budget Homes</a>
                                    <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="menu-title">Property Types</h6>
                                    <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                    <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                    <a class="dropdown-item" href="#">Villa in Kharar</a>
                                    <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Budget</h6>
                                    <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                    <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                    <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                    <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Explore</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>

                                <div class="col-md-2">
                                    <h6 class="menu-title">Buying Tools</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Projects</a>
                        <div class="dropdown-menu p-3 shadow">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="menu-title">Popular Choices</h6>
                                    <a class="dropdown-item" href="#">Ready to Move</a>
                                    <a class="dropdown-item" href="#">Owner Properties</a>
                                    <a class="dropdown-item" href="#">Budget Homes</a>
                                    <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="menu-title">Property Types</h6>
                                    <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                    <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                    <a class="dropdown-item" href="#">Villa in Kharar</a>
                                    <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Budget</h6>
                                    <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                    <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                    <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                    <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Explore</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>

                                <div class="col-md-2">
                                    <h6 class="menu-title">Buying Tools</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Properties</a>
                        <div class="dropdown-menu p-3 shadow">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="menu-title">Popular Choices</h6>
                                    <a class="dropdown-item" href="#">Ready to Move</a>
                                    <a class="dropdown-item" href="#">Owner Properties</a>
                                    <a class="dropdown-item" href="#">Budget Homes</a>
                                    <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="menu-title">Property Types</h6>
                                    <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                    <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                    <a class="dropdown-item" href="#">Villa in Kharar</a>
                                    <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Budget</h6>
                                    <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                    <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                    <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                    <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Explore</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>

                                <div class="col-md-2">
                                    <h6 class="menu-title">Buying Tools</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Investment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
</div>

