


    <header>


<!-- new nav menu -->

<div class="desktop-header">

<div class="container-fluid container">

    <div class="row nav-row">

        <div class="col-md-2 logo-box">
            <a class="navbar-brand logo" href="#"><img src="images/bb-logo-07 1.png"></a>
        </div>

        <div class="col-md-5 box nav-box">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

                <div class="navbar-collapse collapse show" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Builders</a>
                            <div class="dropdown-menu p-3 shadow">
                                <div class="row tab-row">
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Popular Choices</h6>
                                        <a class="dropdown-item" href="#">Ready to Move</a>
                                        <a class="dropdown-item" href="#">Owner Properties</a>
                                        <a class="dropdown-item" href="#">Budget Homes</a>
                                        <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Property Types</h6>
                                        <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                        <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                        <a class="dropdown-item" href="#">Villa in Kharar</a>
                                        <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Budget</h6>
                                        <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                        <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                        <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                        <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Explore</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="menu-title">Buying Tools</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Projects</a>
                            <div class="dropdown-menu p-3 shadow">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Popular Choices</h6>
                                        <a class="dropdown-item" href="#">Ready to Move</a>
                                        <a class="dropdown-item" href="#">Owner Properties</a>
                                        <a class="dropdown-item" href="#">Budget Homes</a>
                                        <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Property Types</h6>
                                        <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                        <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                        <a class="dropdown-item" href="#">Villa in Kharar</a>
                                        <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Budget</h6>
                                        <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                        <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                        <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                        <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Explore</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="menu-title">Buying Tools</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Properties</a>
                            <div class="dropdown-menu p-3 shadow">
                                <div class="row">
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Popular Choices</h6>
                                        <a class="dropdown-item" href="#">Ready to Move</a>
                                        <a class="dropdown-item" href="#">Owner Properties</a>
                                        <a class="dropdown-item" href="#">Budget Homes</a>
                                        <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                    </div>
                                    <div class="col-md-3">
                                        <h6 class="menu-title">Property Types</h6>
                                        <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                        <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                        <a class="dropdown-item" href="#">Villa in Kharar</a>
                                        <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Budget</h6>
                                        <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                        <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                        <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                        <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                    </div>
                                    <div class="col-md-2">
                                        <h6 class="menu-title">Explore</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>

                                    <div class="col-md-2">
                                        <h6 class="menu-title">Buying Tools</h6>
                                        <a class="dropdown-item" href="#">PropWorth</a>
                                        <a class="dropdown-item" href="#">Rates & Trends</a>
                                        <a class="dropdown-item" href="#">Buy vs Rent</a>
                                        <a class="dropdown-item" href="#">Tips and Guides</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Investment</a>
                        </li>
                    </ul>
                </div>
            
        </nav>


<div class="col-md-3 cnt-sec">
    <div class="contact-box">
        <div class="contact-item">
            <img class="top-icon" src="images/phone.png">
            <span><a href="tel:+91-9479927xxx">+91-9479927xxx</a></span>
        </div>
        <div class="contact-item">
            <img class="top-icon gmail" src="images/gmail.png">
            <span><a href="mailto:info@bigbrother.in">infobigbrother.in</a></span>
        </div>
    </div>
</div>


<div class="col-md-2 prop-btn">
    <button class="btn top-btn" type="submit">Post property <span
            class="red-btn">Free</span></button>

</div>
</div>
</div>

</div>


<div class="tab-header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#"><img src="images/bb-logo-07 1.png"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Builders</a>
                        <div class="dropdown-menu p-3 shadow">
                            <div class="row tab-row">
                                <div class="col-md-3">
                                    <h6 class="menu-title">Popular Choices</h6>
                                    <a class="dropdown-item" href="#">Ready to Move</a>
                                    <a class="dropdown-item" href="#">Owner Properties</a>
                                    <a class="dropdown-item" href="#">Budget Homes</a>
                                    <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="menu-title">Property Types</h6>
                                    <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                    <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                    <a class="dropdown-item" href="#">Villa in Kharar</a>
                                    <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Budget</h6>
                                    <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                    <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                    <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                    <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Explore</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>

                                <div class="col-md-2">
                                    <h6 class="menu-title">Buying Tools</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Projects</a>
                        <div class="dropdown-menu p-3 shadow">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="menu-title">Popular Choices</h6>
                                    <a class="dropdown-item" href="#">Ready to Move</a>
                                    <a class="dropdown-item" href="#">Owner Properties</a>
                                    <a class="dropdown-item" href="#">Budget Homes</a>
                                    <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="menu-title">Property Types</h6>
                                    <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                    <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                    <a class="dropdown-item" href="#">Villa in Kharar</a>
                                    <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Budget</h6>
                                    <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                    <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                    <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                    <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Explore</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>

                                <div class="col-md-2">
                                    <h6 class="menu-title">Buying Tools</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link dropdown-toggle" href="#" id="megaMenu" role="button">Properties</a>
                        <div class="dropdown-menu p-3 shadow">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6 class="menu-title">Popular Choices</h6>
                                    <a class="dropdown-item" href="#">Ready to Move</a>
                                    <a class="dropdown-item" href="#">Owner Properties</a>
                                    <a class="dropdown-item" href="#">Budget Homes</a>
                                    <a class="dropdown-item text-danger" href="#">New Projects <b>New</b></a>
                                </div>
                                <div class="col-md-3">
                                    <h6 class="menu-title">Property Types</h6>
                                    <a class="dropdown-item" href="#">Flats in Chandigarh</a>
                                    <a class="dropdown-item" href="#">House for Sale in Mohali</a>
                                    <a class="dropdown-item" href="#">Villa in Kharar</a>
                                    <a class="dropdown-item" href="#">Plot in New Chandigarh</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Budget</h6>
                                    <a class="dropdown-item" href="#">Under ₹50 Lac</a>
                                    <a class="dropdown-item" href="#">₹50 Lac - ₹1 Cr</a>
                                    <a class="dropdown-item" href="#">₹1 Cr - ₹1.5 Cr</a>
                                    <a class="dropdown-item" href="#">Above ₹1.5 Cr</a>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="menu-title">Explore</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>

                                <div class="col-md-2">
                                    <h6 class="menu-title">Buying Tools</h6>
                                    <a class="dropdown-item" href="#">PropWorth</a>
                                    <a class="dropdown-item" href="#">Rates & Trends</a>
                                    <a class="dropdown-item" href="#">Buy vs Rent</a>
                                    <a class="dropdown-item" href="#">Tips and Guides</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Investment</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

   



    <div class="hero-section text-center">

        <div class="container">
            <h1>Find a home you'll <span style="color:yellow;"><img class="love" src="images/love.png"></span></h1>
            <p>Popular Localities: Mohali | Chandigarh | Zirakpur | New Chandigarh | Kharar | Panchkula</p>
            <!-- <div class="search-bar mt-4">
                <select class="form-select">
                    <option>Mohali</option>
                    <option>Chandigarh</option>
                </select>
                <select class="form-select">
                    <option>Residential</option>
                    <option>Commercial</option>
                </select>
                <select class="form-select">
                    <option>2 Bedrooms</option>
                    <option>3 Bedrooms</option>
                </select>
                <input type="range" class="form-range" min="100000" max="300000" step="10000">
                <button class="btn btn-red">Search</button>
            </div> -->
            <div class="tab">
                <button class="active">Buy</button>
                <button>Sell</button>
            </div>

            <div class="search-container">

                <div class="top-form">
                    <label>Area </label>
                    <select>
                        <option>Mohali</option>
                        <option>Chandigarh</option>
                        <option>Zirakpur</option>
                        <option>Patiala</option>
                    </select>
                </div>



                <div class="top-form">
                    <label>property type </label>
                <select>
                    <option>Residential</option>
                    <option>Residential</option>
                    <option>Residential</option>
                    <option>Residential</option>
                </select>

            </div>



            <div class="top-form">
            <label>bed rooms</label>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
                </div>

                <div class="top-form">
                 <div class="top-currency"> <label>Price range</label> <span>$100,000.00 - $300,000.00</span></div>  
                <input type="range" min="100000" max="300000" value="200000">
                
               
                </div>
                <span class="houses-available">120 houses available</span>
                <button class="search-btn"><img class="srch-icon" src="images/search-icon.png"></button>
            </div>
        </div>
    </div>


    <!-- slider-section -->

        <div class="container slider-section">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="red-heading"> We've got properties for everyone</h2>

                    <div class="swiper property-carousel crosal">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide text-slide">
                            <div class="property-card title-slide">

                                <div class="image-title">
                                <img src="images/slide-1.png">
                                <h4><strong style="font-weight: 800;">21 Total Area</strong><br> Delivered</h4>
                            </div>
                                <div class="property-info">

                                    <p>Lorem ipsum is a dummy or placeholder  commonly 
                                        in graphic design, publishing, and web development 
                                        Lorem ipsum is a dummy or placeholder development 
                                        ipsum is a dummy or placeholder</p>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class="swiper-slide">
                            <div class="property-card title-slide">

                                <div class="image-title">
                                <img src="images/slide-2.png">
                                <h4><strong style="font-weight: 800;">245 Ongoing</strong> <br>
                                      Projects</h4>
                            </div>
                                <div class="property-info">

                                    <p>Lorem ipsum is a dummy or placeholder  commonly 
                                        in graphic design, publishing, and web development 
                                        Lorem ipsum is a dummy or placeholder development 
                                        ipsum is a dummy or placeholder</p>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 3 -->
                        <div class="swiper-slide">
                            <div class="property-card title-slide">

                                <div class="image-title">
                                <img src="images/slide-3.png">
                                <h4><strong style="font-weight: 800;">17 Years of </strong><br>Experience</h4>
                            </div>
                                <div class="property-info">

                                    <p>Lorem ipsum is a dummy or placeholder  commonly 
                                        in graphic design, publishing, and web development 
                                        Lorem ipsum is a dummy or placeholder development 
                                        ipsum is a dummy or placeholder</p>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 4 -->
                        <div class="swiper-slide">
                            <div class="property-card title-slide">

                                <div class="image-title">
                                <img src="images/slide-4.png">
                                <h4><strong style="font-weight: 800;">15 years of</strong><br>  growth</h4>
                            </div>
                                <div class="property-info">

                                    <p>Lorem ipsum is a dummy or placeholder  commonly 
                                        in graphic design, publishing, and web development 
                                        Lorem ipsum is a dummy or placeholder development 
                                        ipsum is a dummy or placeholder</p>
                                </div>
                            </div>
                        </div>
                                            <!-- Slide 5 -->
                                            <div class="swiper-slide">
                                                <div class="property-card title-slide">
                    
                                                    <div class="image-title">
                                                    <img src="images/slide-2.png">
                                                    <h4><strong style="font-weight: 800;">245 Ongoing</strong><br>  Projects</h4>
                                                </div>
                                                    <div class="property-info">
                    
                                                        <p>Lorem ipsum is a dummy or placeholder  commonly 
                                                            in graphic design, publishing, and web development 
                                                            Lorem ipsum is a dummy or placeholder development 
                                                            ipsum is a dummy or placeholder</p>
                                                    </div>
                                                </div>
                                            </div>
                    </div>
                    <!-- Navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

                </div>

        </div>
    </div>

    <!-- slider-section -->





    <!-- section 3 -->

        <div class="container box-section">

            <div class="row">
                <h2 class="red-heading"> Upcoming Projects</h2>
            <div class="col-md-9 full-sec">

                <div class="card-row">
                    <div class="card">
                        <img src="images/box1.png" alt="Property Image">
                        <div class="card-content">
                            <div class="title-btn">
                                <h3 class="card-title">Buy 3 BHK Flat for Sale in
                                    Zirakpur </h3>
                                <div class="badge"><strong>₹47 Lac</strong> 500 sqft</div>
                            </div>
                            <div class="card-details">
                                <div class="property-details">
                                    <div class="detail">
                                        <div class="label">Carpet Area</div>
                                        <div class="value">1245 sqft</div>
                                    </div>
                                    <div class="detail">
                                        <div class="label">Under Construction</div>
                                        <div class="value">Poss. by January '29</div>
                                    </div>
                                    <div class="detail">
                                        <div class="label">Furnishing</div>
                                        <div class="value">Semi-Furnished</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <img src="images/box1.png" alt="Property Image">
                        <div class="card-content">
                            <div class="title-btn">
                                <h3 class="card-title">Buy 3 BHK Flat for Sale in
                                    Zirakpur </h3>
                                <div class="badge"><strong>₹47 Lac</strong> 500 sqft</div>
                            </div>
                            <div class="card-details">
                                <div class="property-details">
                                    <div class="detail">
                                        <div class="label">Carpet Area</div>
                                        <div class="value">1245 sqft</div>
                                    </div>
                                    <div class="detail">
                                        <div class="label">Under Construction</div>
                                        <div class="value">Poss. by January '29</div>
                                    </div>
                                    <div class="detail">
                                        <div class="label">Furnishing</div>
                                        <div class="value">Semi-Furnished</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="card-row">
                    <div class="card">
                        <img src="images/box1.png" alt="Property Image">
                        <div class="card-content">
                            <div class="title-btn">
                                <h3 class="card-title">Buy 3 BHK Flat for Sale in
                                    Zirakpur </h3>
                                <div class="badge"><strong>₹47 Lac</strong> 500 sqft</div>
                            </div>
                            <div class="card-details">
                                <div class="property-details">
                                    <div class="detail">
                                        <div class="label">Carpet Area</div>
                                        <div class="value">1245 sqft</div>
                                    </div>
                                    <div class="detail">
                                        <div class="label">Under Construction</div>
                                        <div class="value">Poss. by January '29</div>
                                    </div>
                                    <div class="detail">
                                        <div class="label">Furnishing</div>
                                        <div class="value">Semi-Furnished</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <img src="images/box1.png" alt="Property Image">
                        <div class="card-content">
                            <div class="title-btn">
                                <h3 class="card-title">Buy 3 BHK Flat for Sale in
                                    Zirakpur </h3>
                                <div class="badge"><strong>₹47 Lac</strong> 500 sqft</div>
                            </div>
                            <div class="card-details">
                                <div class="property-details">
                                    <div class="detail">
                                        <div class="label">Carpet Area</div>
                                        <div class="value">1245 sqft</div>
                                    </div>
                                    <div class="detail">
                                        <div class="label">Under Construction</div>
                                        <div class="value">Poss. by January '29</div>
                                    </div>
                                    <div class="detail">
                                        <div class="label">Furnishing</div>
                                        <div class="value">Semi-Furnished</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>
            </div>


            <div class="col-md-3 image-half">

                    <img  class="box-shape" src="images/contact-back.png">


            </div>

  <div class="btn-class"><button class="view-btn"> <a href="#" >View More</a></button></div>


        </div>

    </div>
    <!-- section 3 -->



    <!-- section 4 -->

        <div class="container box-section">
            <div class="row">

            <div class="col-md-12">
                <h2 class="red-heading"> Upcoming Projects</h2>
                <div class="card-row flex-card">


                
                <div class="card-testi ">
                    <div class="card-header">
                        <img src="images/Rahul.png" alt="Profile Picture">
                        <h2>Rahul Kumar</h2>
                        <p>Globel Properties</p>
                        <div class="verified"><img src="images/veri-badge.png"></div>
                    </div>
                    <div class="card-body">
                        <p><strong>Deals in</strong></p>
                        <p>Lease, Pre-launch, Original Booking, Resale, Others</p>
                        <p>Operating Since:<strong><span class="highlight">2022</span></strong></p>
                    </div>
                    <div class="card-footer">
                        <div class="card-sec"><span class="number">68</span><br>Properties For Sale</div>
                        <div class="card-sec"><span class="number">68</span><br>Deals Closed</div>
                        <div class="card-sec"><span class="number">68</span><br>Team Members</div>
                    </div>
                </div>


                <div class="card-testi">
                    <div class="card-header">
                        <img src="images/Gurpreet.png" alt="Profile Picture">
                        <h2>Gurpreet Singh</h2>
                        <p>Green Properties</p>
                        <div class="verified"><img src="images/veri-badge.png"></div>
                    </div>
                    <div class="card-body">
                        <p><strong>Deals in</strong></p>
                        <p>Lease, Pre-launch, Original Booking, Resale, Others</p>
                        <p>Operating Since:<strong><span class="highlight">2012</span> </strong></p>
                    </div>
                    <div class="card-footer">
                        <div class="card-sec"><span class="number">68</span><br>Properties For Sale</div>
                        <div class="card-sec"><span class="number">68</span><br>Deals Closed</div>
                        <div class="card-sec"><span class="number">68</span><br>Team Members</div>
                    </div>
                </div>

                <div class="card-testi">
                    <div class="card-header">
                        <img src="images/Sandeep.png" alt="Profile Picture">
                        <h2>Sandeep</h2>
                        <p>Skyvilla Properties</p>
                        <div class="verified"><img src="images/veri-badge.png"></div>
                    </div>
                    <div class="card-body">
                        <p><strong>Deals in</strong></p>
                        <p>Lease, Pre-launch, Original Booking, Resale, Others</p>
                        <p>Operating Since:<strong> <span class="highlight">2022</span></strong></p>
                    </div>
                    <div class="card-footer">
                        <div class="card-sec"><span class="number">58</span><br>Properties For Sale</div>
                        <div class="card-sec"><span class="number">68</span><br>Deals Closed</div>
                        <div class="card-sec"><span class="number">68</span><br>Team Members</div>
                    </div>
                </div> 
            </div>


            </div>



  <div class="btn-class"><button class="view-btn"> <a href="#" >View More Brokers</a></button></div>


        </div>

    </div>
    <!-- section 4 -->

    <!-- slider -->
    <div class="container box-section sky-box">
    <div class="row">


            <div class="col-md-12">
                <h2 class="red-heading"> Popular Owner Properties</h2>
                <div class="swiper property-carousel">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide">
                            <div class="property-card">
                                <img src="images/home 1.png">
                                <div class="view-item"> <a class="view-more" href="#">View More</a></div>
 
                                <div class="property-info">
                                    <p><strong>5 BHK House</strong></p>
                                    <h4>1245 sqft | 500 sqft</h4>
                                    <p>Parayavaran Complex, Sainik School, Chandigarh Ready To Move</p>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 2 -->
                        <div class="swiper-slide">
                            <div class="property-card">
                                <img src="images/home 1.png">
                                <div class="view-item"> <a class="view-more" href="#">View More</a></div>
 
                                <div class="property-info">
                                    <p><strong>5 BHK House</strong></p>
                                    <h4>1245 sqft | 500 sqft</h4>
                                    <p>Parayavaran Complex, Sainik School, Chandigarh Ready To Move</p>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 3 -->
                        <div class="swiper-slide">
                            <div class="property-card">
                                <img src="images/home 1.png">
                                <div class="view-item"> <a class="view-more" href="#">View More</a></div>
 
                                <div class="property-info">
                                    <p><strong>5 BHK House</strong></p>
                                    <h4>1245 sqft | 500 sqft</h4>
                                    <p>Parayavaran Complex, Sainik School, Chandigarh Ready To Move</p>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 4 -->
                        <div class="swiper-slide">
                            <div class="property-card">
                                <img src="images/home 1.png">
                                <div class="view-item"> <a class="view-more" href="#">View More</a></div>
 
                                <div class="property-info">
                                    <p><strong>5 BHK House</strong></p>
                                    <h4>1245 sqft | 500 sqft</h4>
                                    <p>Parayavaran Complex, Sainik School, Chandigarh Ready To Move</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

                </div>
                </div>
                </div>

<!-- services section -->
<div class="container service-box">
     <div class="row">
        <div class="col-md-12">
            <h2 class="red-heading"> Explore our services </h2>

            <div class="servie-section">
<div class="service-content">
    <div class="snow-card">
        <img src="images/building-1.png" alt="Profile Picture">
        <div class="snow-content">
        <h2>Premium Builder Floor</h2>
        <p>Residential Plots, Agricultral Farm 
            lands, Inst. Lands and more</p>
        </div>
    </div>

    <div class="snow-card">
        <img src="images/building-3.png" alt="Profile Picture">
        <div class="snow-content">
        <h2>Buying a commercial property</h2>
        <p>Residential Plots, Agricultral Farm 
            lands, Inst. Lands and more</p>
        </div>
    </div>

    <div class="snow-card">
        <img src="images/building-4.png" alt="Profile Picture">
        <div class="snow-content">
        <h2>Leasing a commercial property</h2>
        <p>Residential Plots, Agricultral Farm 
            lands, Inst. Lands and more</p>
        </div>
    </div>

</div>

<div class="service-content">
    <div class="snow-card">
        <img src="images/box-4.png" alt="Profile Picture">
        <div class="snow-content">
        <h2>Shops, offices, land, factories, warehouses and more</h2>
        <p>Residential Plots, Agricultral Farm 
            lands, Inst. Lands and more</p>
        </div>
    </div>

    <div class="snow-card">
        <img src="images/building-6.png" alt="Profile Picture">
        <div class="snow-content">
        <h2>Independent House/Villa</h2>
        <p>Residential Plots, Agricultral Farm 
            lands, Inst. Lands and more</p>
        </div>
    </div>

    <div class="snow-card">
        <img src="images/building-7.png" alt="Profile Picture">
        <div class="snow-content">
        <h2>Studio Aparment</h2>
        <p>Shops, offices, land, factories, warehouses and more</p>
        </div>
    </div>

</div>

            </div>

</div>
</div>
</div>
            <!-- services section -->





    <!-- section 5 -->

    <div class="container red-section">
        <div class="row">
            <div class="col-md-12">
        <div class="red-back">
            <h3 class="">Post your Property for <span style="font-weight: 800;"> Free List it on Big Brothers </span><br>and get genuine leads </h3>
            <div class="btn-class"><button class="view-btn white-btn"> <a href="#" >Post property </a></button></div>

        </div>
    </div>
        </div>
        </div>
        <!-- section 5 -->

    <!-- FAQ-->

        <div class="container box-section">
            <div class="row">
            <div class="home-back">
                <h3 class=""> FAQs  </h3>
                <p>Frequently asked questions in Real estate in India</p>

            </div>

            <div class="col-md-12">



    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Is an online Rental Agreement valid or legal? 
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                How much stamp duty should I pay on my rental agreement? 
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How can I check the validity of E-stamped Rental Agreements? 
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What are the important points to validate in a rental agreement? 
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                I am yet to find a tenant for my property, why should I pre-purchase the Rental Agreement Service? 
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                What are the types of tenancy agreements in India?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
      </div>


      </div>
      </div>
      </div>
    <!-- FAQ-->


    <!-- Our PArtner Section-->


        <div class="container box-section partner-section">


    <div class="row">
        <h3 class="partner-head"> Our Partners  </h3>
                <div class="col-md-3 partner-box">

                    <img class="partner-pic" src="images/salford.png">
                </div>

                <div class="col-md-3 partner-box">

                    <img class="partner-pic" src="images/realestate-brand.png">
                </div>

                <div class="col-md-3 partner-box">

                    <img class="partner-pic" src="images/realestate.png">
                </div>

                <div class="col-md-3 partner-box">

                    <img class="partner-pic" src="images/ddd.png">
                </div>
                </div>
                </div>

    <!-- Our PArtner Section-->


                       <!-- Footer -->
<footer>


                       <div class="container">

            <div class="row footer">
                <div class="col-md-2 tab-sec">
                    <h4> Quick Links</h4>
                    <ul class="ft-list">
                        <li><a href="#">Builder </a> </li>
                        <li><a href="#">Projects</a></li> 
                        <li><a href="#">Properties</a> </li>
                        <li><a href="#">Investment </a> </li>
                    </ul>
                </div>

                <div class="col-md-2 tab-sec">

                        <h4> Services</h4>
                        <ul class="ft-list">
                            <li><a href="#">Builder </a> </li>
                            <li><a href="#">Projects</a></li> 
                            <li><a href="#">Properties</a> </li>
                            <li><a href="#">Investment </a> </li>
                        </ul>
                </div>



                <div class="col-md-2 cnt-box tab-sec">

                        <h4>Properties Locations</h4>
                        <ul class="ft-list">
                            <li><a href="#">Mohali  </a> </li>
                            <li><a href="#">Chandigarh </a></li> 
                            <li><a href="#">Zirakpur </a> </li>
                            <li><a href="#">New Chandigarh Kharar Panchkula </a> </li>
                            <li><a href="#">Kharar  </a> </li>
                            <li><a href="#"> Panchkula </a> </li>
                        </ul>
                </div>


                <div class="col-md-2 cnt-box tab-sec">
                        <h4> Contact Us</h4>
                        <ul class="ft-list">
                            <li><img class="ft-map" src="images/map.png"><a href="#"> Office No 3 , Ground Floor
                                & First Floor (Cabin No.2 Sector
                                35A, Chandigarh 160035</a> </li>
                                <li><a href="tel:08054545XXX"><img class="ft-map" src="images/phone.png">08054545XXX</a> </li>
            
    
                <div class="col-md-4 logo-sec">
                    <img class="logo-ft" src="images/bb-logo-07 1.png">
                    <p>Get in Touch</p>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-linkedin"></a>
            </div>

                <div class="row copy-box">
                    <div class="col-md-12 copy-sec">
                        <p>© 2025 <strong>Big Brothers </strong>All Rights Reserved</p>

                        </div>
                        </div>

    


                       <!-- Footer -->








