<div>
  <section class="contact-wrapper">
    <div class="heading">
      <h2>Notes</h2>
      <div class="underline"></div>
    </div>

    <div class="contact-box">
      <!-- Left side: Form -->
      <div class="form-section">
        <button>tesr</button>
      </div>

      <!-- Right side: Contact Info -->
      <div class="row info-section">
        <div class="info-item">
          <button>fist</button>
        </div>

        <div class="info-item">
          <button>second</button>
          
        </div>

        <div class="info-item">
          <button>fist</button>
        </div>

        <div class="info-item">
         <button>scnd</button>
        </div>
      </div>
    </div>
  </section>
</div>