<section class="container-fluid">
    <div class="row">
        <div class="col-6">
            <form [formGroup]="itemForm" (ngSubmit)="saveItem()">
                <div class="row mt-5">
                    <input class="col-5" formControlName="addItem" placeholder="Enter item name" type="text"/>
                    <button class="col-3" type="submit">Add Item</button>
                </div>
            </form>
            <div  *ngIf="students.length>0; else noData"class="mt-5">
                <h3>Student</h3>
                <ul  class="mt-3">
                    <li *ngFor="let item of students">{{item}} <button >X</button> </li>
                </ul>
            </div>
            <ng-template #noData>
                <p class="mt-5">No student found</p>
            </ng-template>
                
        </div>
        <div class="col-6">
            <h1>Calculator</h1>
            <div class="row">
                <form [formGroup]="calculatorForm">
                    <div class="row gap-4">
                        <input class="col-3" formControlName="firstValue" type="number" placeholder="Enter first value"/>
                        <input class="col-3" formControlName="secondValue" type="number" placeholder="Enter second value"/>
                    </div>
                    <div class="gap-5 mt-4">Result<input class="border" formControlName="resultData" placeholder="result"/><button type="button" (click)="clearInputsCalculator()">Clear</button>
                    </div>
                    <div class="row mt-5">
                        <button class="col-2"  type="submit" (click)="calculate('addition')">+</button>
                        <button class="col-2" type="submit" (click)="calculate('minus')">-</button>
                        <button class="col-2" type="submit" (click)="calculate('multiply')">*</button>
                        <button class="col-2" type="submit" (click)="calculate('divide')">/</button>
                    </div>
                </form>
                </div>
        </div>
    </div>
</section>