<section class="container-fluid mt-4">


    <h3 class="text-center">Calculator</h3>

    <form>
        <div class="row">
            <div class="col">
                <input type="number" class="form-control" placeholder="Enter First Number" name="email">
            </div>
            <div class="col">
                <input type="number" class="form-control" placeholder="Enter Second Number" name="pswd">
            </div>
        </div>
        
    </form>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary">+</button>
        <button type="button" class="btn btn-secondary">-</button>
        <button type="button" class="btn btn-secondary">*</button>
        <button type="button" class="btn btn-secondary">/</button>
    </div>


</section>