<section class="container-fluid mt-4 table-container">
 
  <h3>Contact List</h3>
  <table>
    <thead>
      <tr>
        <th>First name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Action</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersDetail">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.age }}</td>
        <td>
          <button class="btn btn-primary m-2" (click)="EditcontactInfo(user.id)">Edit</button>
          <button class="btn btn-danger m-2">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>


